<div class="list">
  <label class="item item-input ">
    <span class="input-label">Name</span>
    <input type="text" placeholder="Name">
  </label>
  <label class="item item-input ">
    <span class="input-label">Place</span>
    <input type="text" placeholder="place">
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Category 
    </div>
    <select>
      <option>HP</option>
      <option selected>Dell</option>
      <option>Toshiba</option>
    </select>
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Type 
    </div>
    <select>
      <option selected="">Laptop</option>
      <option>Tablet</option>
      <option>Phone</option>
    </select>
  </label>
  <label class="item">
          <button class="button button-block button-positive" type="button" ng-click="submitForm('airtel')">Submit</button>
  </label>
</div>